<div class="pastaMain">
    <div class="pastaLeftMain">
        <img src="/assets/{{makaronDane.image}}.jpg" alt={{makaronDane.name}}>
    </div>

    <div class="pastaRightMain">
        <h4>{{makaronDane.name}}</h4>
        <h5>Składniki</h5>
        <p>{{makaronDane.Składniki}}</p>
        <h5>Instrukcje</h5>
        <p>{{makaronDane.Instrukcje}}</p>
        <h5>Recenzja</h5>
        <p>{{makaronDane.Recenzja}}</p>
    </div>

</div>